/* Estilos generales */
body {
    font-family: "Nunito", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

/* Estilos para el tema oscuro */
.dark {
    background-color: #333;
    color: #fff;
}

.dark header {
    background-color: #444;
    color: #fff;
}

.dark nav a,
.dark .theme-toggle {
    color: #fff;
}

/* Estilos para el tema claro */
.light {
    background-color: #f4f4f4;
    color: #333;
}

.light header {
    background-color: #fff;
    color: #333;
}

.light nav a {
    color: #333;
}

.light .theme-toggle {
    background-color: #f4f4f4; /* Gris claro de la página */
    color: #333;
}

/* Estilos del header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s, color 0.3s;
}

/* Contenido dentro del header */
.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    justify-content: center; /* Centrar contenido dentro del header */
}

/* Barra de navegación */
nav {
    display: flex;
    align-items: center;
    background-color: transparent; /* Sin fondo para mantener la apariencia clara */
}

nav a {
    color: inherit; /* Heredar el color del tema */
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1em;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: inherit; /* Heredar el color de fondo del tema */
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Color de fondo para hover */
}

/* Estilo para el botón de cambiar tema */
.theme-toggle {
    padding: 10px 15px;
    border: none;
    background-color: inherit; /* Heredar el color de fondo del tema */
    color: inherit; /* Heredar el color del texto del tema */
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-left: 20px; /* Espacio entre los enlaces de navegación y el botón de cambiar tema */
    font-family: inherit;
}

.theme-toggle:hover {
    background-color: rgba(0, 0, 0, 0.2); /* Color más oscuro para el hover */
}

/* Contenedor de búsqueda */
.search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-container input {
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1em;
    transition: border-color 0.3s;
    font-family: inherit;
}

.search-container input:focus {
    border-color: #1b1c1e;
}

/* Contenedor del catálogo */
.catalog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

/* Estilo de cada producto */
.producto {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* Título del producto */
.producto-title {
    font-size: 1.5em; /* Tamaño más grande para el título */
    margin-bottom: 10px;
    color: #333; /* Asegura que el color sea consistente */
}

/* Descripción del producto */
.producto-description {
    font-size: 0.9em;
    color: #333;
}

/* Imagen del producto */
.producto img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Detalles del producto */
.producto p {
    margin: 5px 0;
    color: #333;
    font-size: 0.9em;
}

.producto p span {
    font-weight: bold;
}

/* Página de carrito */
.carrito-container {
    padding: 20px;
}

.carrito-container ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.carrito-container li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

/* Estilo para el botón de vaciar carrito */
.btn-vaciar-carrito {
    background-color: #f44336; /* Rojo para el botón de vaciar carrito */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    margin-right: 10px; /* Espacio entre los botones */
}

.btn-vaciar-carrito:hover {
    background-color: #d32f2f;
}

/* Estilo para el botón de comprar en la página de carrito */
.btn-comprar-carrito∫ {
    background-color: #9500ff; /* Color de fondo igual al de checkout */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em; /* Tamaño de fuente igual al de checkout */
    transition: background-color 0.3s;
}

.btn-comprar-carrito:hover {
    background-color: #6f418b; /* Color de fondo al pasar el ratón igual al de checkout */
}

/* Página de checkout */
.checkout-container {
    padding: 20px;
}

.checkout-container ul {
    list-style-type: none;
    padding: 0;
}

.checkout-container li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

/* Estilo para el botón de checkout */
.checkout-container button {
    background-color: #9500ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s;
}

.checkout-container button:hover {
    background-color: #6f418b;
}

/* Página de error */
.error-page {
    text-align: center;
    padding: 50px;
}

.error-page h1 {
    font-size: 2.5em;
    color: #d32f2f;
}

.error-page p {
    font-size: 1.2em;
}

/* Estilo para el botón de agregar producto */
.agregar-producto {
    background-color: #6f418b; /* Azul para destacar */
    color: #fff;
    border: none;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    margin-top: 10px; /* Espacio superior para separar del contenido */
}

.agregar-producto:hover {
    background-color: #9500ff; /* Azul más oscuro para hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

/* Título del producto */
.producto-title {
    font-size: 2em; /* Tamaño más grande para el título */
    margin-bottom: 10px;
    color: #333; 
}


/* Agregar estilos para el botón de cantidad */
.cantidad-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.cantidad-container button {
    background-color: #f0eaea; 
    color: #9500ff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    margin: 0 5px;
}

.cantidad-container button:hover {
    background-color: #f0eaea; 
    color: #9500ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.cantidad-container input {
    width: 40px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    font-size: 1em;
    margin: 0 5px;
    color: #333;
}

.titulo-inicial {
    text-align: center;
}


/* Adaptación en móviles */
@media (max-width: 768px) {
    .catalog-container {
        flex-direction: column;
        align-items: center;
    }
    
    .producto {
        width: 90%;
        max-width: 400px;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .theme-toggle {
        margin-top: 10px;
    }
}

